



@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  
  

  
  --color-primary: #CAEB66;
  --color-primary-content: #606060;
  --color-secondary: #03373D;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  background-color: #E6F2F3;
}
